* {
  font-family: inherit;
  padding: 0;
}
*::selection {
  background-color: hsla(370, 100%, 50%, 0.116);
  color: hsl(370, 100%, 37%);
}

:root{
  --r: 370;

}
li {
  list-style: none;
}

h1,h2,h3,h4{
  font-family: Salsa;
}

h2 svg {
  width: 1em;
  height: 1em;
  vertical-align: text-bottom;
}
.root {
  padding: 0 30px;
}
.line{
  height: 3px;
  background: hsl(var(--r), 100%, 65%);
  margin: 0 auto;
  width: 150px;
}
body{
  background-image: linear-gradient(180deg,hsl(var(--r), 100%, 90%),white) ;
  background-attachment: fixed;
}

h1{
  display: flex;
  margin: 0;
  margin-top: 30px ;
  justify-content: center;
  font-size: clamp(2rem,calc(1rem + 3.5vw),6rem);
  user-select: none;
  text-align: center;
  /* text-decoration: underline; */

}
h2 {
  color: rgb(46, 46, 46);
}
b {
  color: #FF5533;
}
/* @keyframes change-color{
  0%{
    --r:12;
  }
  50%{
    --r:34
  }
  100%{
    --r: 12;
  }
} */
.char{
  color: hsl(var(--r), 100%, 60%);
  font-weight: 600;

  transition: font-weight 0.5s ease;
  /* animation: 2s change-color infinite linear; */
}

.char:hover{
  color: hsl(var(--r), 100%, 45%);
  font-weight: 900;
}
/* left */
span:has(+ .char:hover){
  font-weight: 800;
  color:hsl(var(--r),100%,50%);
}
span:has(+ span + span:hover){
  color:hsl(var(--r),100%,55%);
  font-weight: 700;

}
/* right */
span:hover + span{
  font-weight: 800;

  color:hsl(var(--r),100%,50%);

}
span:hover + span + span{
  font-weight: 700;
  color:hsl(var(--r),100%, 55%);


}
@keyframes show {
  from {
    scale: 0.2;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
.root>*{
  width: 100%;
  height: auto;
  view-timeline-name: --image;
  view-timeline-axis: block;
  border-radius: 20px;

  animation-timeline: --image;
  animation-name: show;

  animation-range: entry 25% cover 30%;
}
a{
  text-decoration: none;
  color: blueviolet;
}
a > svg {
  vertical-align: text-bottom ;
  height: 1.3em;
  width: 1.3em;
  margin-right: 5px;
}
img {
  aspect-ratio: 3 / 1;
  object-fit: cover;
}
p {
  font-weight: 500;
  font-family: Poppins;
}
h1, h2, h3{
  font-weight: 900;
}
.root{
  margin: 0 auto;
  max-width: 800px;
}

a {
  color: #FF5533;
}
ul {
  display: flex;
  gap: 20px;
  padding-left: 20px;
}
li > a{
  display: block;
  background-color: #ffe6e0;
  padding: 10px 20px 10px 10px;
  border-radius: 12px;
}
p{
  padding-left: 25px;
}