.menu {
  justify-content: center;
  display: flex;
  padding: 20px ;
}
.menu a {
  font-weight: 800;
  background-color: none;
  color: blue;
}
h1,
h2,
h3,
h4 {
  font-family: Salsa;
  animation: show-title 0.5s ease;

}

h2 svg {
  width: 1em;
  height: 1em;
  vertical-align: text-bottom;
}
.root {
  padding: 0 30px;
}
.line {
  height: 3px;
  background: hsl(var(--r), 100%, 65%);
  margin: 0 auto;
  width: 150px;
}
body {
  background-image: linear-gradient(180deg, 
    hsl(182, 100%, 80%),
    hsl(268, 100%, 90%),
    white
  );
  /* background-image: url(https://static.vecteezy.com/system/resources/previews/006/822/761/non_2x/seamless-texture-with-floral-background-pattern-from-flowers-botanical-composition-wallpaper-vector.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: screen;
}
.screen{
  height: 100vh;
}
h1 {

  font-size: clamp(2rem, calc(2rem + 3.5vw), 3rem);
  user-select: none;
 
  animation: show-title 0.5s ease;

  background-image: url(https://t4.ftcdn.net/jpg/02/67/40/21/240_F_267402109_jZvsqRQUvSxohAOmcUt549jlapqoRHM0.jpg);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.perfil {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-top: 30px;
}
.foto {
  width: 300px;
  aspect-ratio: 1;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.301);
  border-radius: 50%;
}
p {
  animation: show 0.5s ease alternate;
  font-family: Dancing Script;
}
h2 {
  color: rgb(46, 46, 46);
  background-color: rgba(137, 255, 121, 0.205);
  backdrop-filter: blur(10px);
  padding: 10px;
  color: rgb(0, 102, 128);
  font-size: clamp(1rem, calc(1rem + 1.7vw), 3rem);

}
b {
  color: hsl(var(--r), 100%, 60%);
}
/* @keyframes change-color{
  0%{
    --r:12;
  }
  50%{
    --r:34
  }
  100%{
    --r: 12;
  }
} */


section {
  width: 100%;
  height: auto;
  border-radius: 20px;

  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: show;
  animation-range: entry 25% cover 30%;
  animation-fill-mode: both;

  box-shadow: 0 2px 6px  rgba(0, 0, 0, 0.219);
}
.g-2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  gap: 20px;
}
a {
  text-decoration: none;
  color: blueviolet;
}
a > svg {
  vertical-align: text-bottom;
  height: 1.3em;
  width: 1.3em;
  margin-right: 5px;
}
img {
  object-fit: cover;
  w
}
p {
  /* font-weight: 800; */
  font-size: 17px;
  font-family: Poppins;
}
img {
  border-radius: 30px;
}
.root {
  margin: 0 auto;
  max-width: 800px;
}

a {
  color: hsl(270, 100%, 50%);
}
ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-left: 20px;
}
.contacts a {
  display: block;
  background-color: #ffffff6c;
  padding: 10px 20px 10px 10px;
  border-radius: 12px;
}


footer {
  padding: 10px;
}
